# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
list_anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
list_ano =[1900, 1920, 1940, 1960, 1980, 2000, 2020]

series_anomalia = pd.Series(data = list_anomalia_termica)
print(series_anomalia)

series_ano = pd.Series(data = list_ano)
print(series_ano)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64
0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

# seu código aqui
series_junto = pd.Series(data = list_anomalia_termica, index = list_ano)
print(series_junto)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
series_temperaturas = pd.Series(dic_temperaturas)
series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [5]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
dt_arr = pd.DataFrame(arr)
dt_arr

             0           1           2
0    99.166230   93.264731  100.498239
1    90.803528  117.279162   93.873293
2    98.241429  104.979641  102.282772
3    88.716053   95.979586   94.141401
4   113.471741   89.738923   88.121809
5   105.907893  100.428162  103.430014
6    91.905108   94.439462  106.606883
7    96.862275  103.758908  110.490098
8    85.782887  102.614647   98.316784
9    95.856353   86.404514   88.237311
10  105.839907   96.980874  105.992384
11  101.638214  100.447007  100.247004
12  104.513791   94.948339   83.660558
13  106.650965   99.158169  111.174196
14  121.979552   93.932556  107.022035
15  112.989619   73.286762  109.495206
16   99.854187  113.143704   97.220233
17   90.981557   84.598275  100.820781
18   97.061490  132.311189  100.966714
19   99.213453   99.328753  104.543280

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [8]:
#seu código aqui
list_index = list(range(1,len(dt_arr)+1))
list_index = list(map(lambda num: 'x'+str(num), list_index))

dt_arrcomindice = pd.DataFrame(data = arr, index = list_index)
dt_arrcomindice

              0           1           2
x1    99.166230   93.264731  100.498239
x2    90.803528  117.279162   93.873293
x3    98.241429  104.979641  102.282772
x4    88.716053   95.979586   94.141401
x5   113.471741   89.738923   88.121809
x6   105.907893  100.428162  103.430014
x7    91.905108   94.439462  106.606883
x8    96.862275  103.758908  110.490098
x9    85.782887  102.614647   98.316784
x10   95.856353   86.404514   88.237311
x11  105.839907   96.980874  105.992384
x12  101.638214  100.447007  100.247004
x13  104.513791   94.948339   83.660558
x14  106.650965   99.158169  111.174196
x15  121.979552   93.932556  107.022035
x16  112.989619   73.286762  109.495206
x17   99.854187  113.143704   97.220233
x18   90.981557   84.598275  100.820781
x19   97.061490  132.311189  100.966714
x20   99.213453   99.328753  104.543280

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [9]:
# seu código aqui
dt_arrcomindice['media'] =dt_arrcomindice.mean(axis = 1)
dt_arrcomindice

              0           1           2       media
x1    99.166230   93.264731  100.498239   97.643067
x2    90.803528  117.279162   93.873293  100.651994
x3    98.241429  104.979641  102.282772  101.834614
x4    88.716053   95.979586   94.141401   92.945680
x5   113.471741   89.738923   88.121809   97.110824
x6   105.907893  100.428162  103.430014  103.255357
x7    91.905108   94.439462  106.606883   97.650484
x8    96.862275  103.758908  110.490098  103.703760
x9    85.782887  102.614647   98.316784   95.571439
x10   95.856353   86.404514   88.237311   90.166059
x11  105.839907   96.980874  105.992384  102.937721
x12  101.638214  100.447007  100.247004  100.777408
x13  104.513791   94.948339   83.660558   94.374229
x14  106.650965   99.158169  111.174196  105.661110
x15  121.979552   93.932556  107.022035  107.644714
x16  112.989619   73.286762  109.495206   98.590529
x17   99.854187  113.143704   97.220233  103.406041
x18   90.981557   84.598275  100.820781   92.133538
x19   97.061490  132.311189  100.966714  110.113131
x20   99.213453   99.328753  104.543280  101.028496

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [10]:
# seu código aqui
dt_arrcomindice['log_med'] = np.log(dt_arrcomindice['media'])
dt_arrcomindice

              0           1           2       media   log_med
x1    99.166230   93.264731  100.498239   97.643067  4.581319
x2    90.803528  117.279162   93.873293  100.651994  4.611669
x3    98.241429  104.979641  102.282772  101.834614  4.623350
x4    88.716053   95.979586   94.141401   92.945680  4.532015
x5   113.471741   89.738923   88.121809   97.110824  4.575853
x6   105.907893  100.428162  103.430014  103.255357  4.637205
x7    91.905108   94.439462  106.606883   97.650484  4.581395
x8    96.862275  103.758908  110.490098  103.703760  4.641538
x9    85.782887  102.614647   98.316784   95.571439  4.559874
x10   95.856353   86.404514   88.237311   90.166059  4.501653
x11  105.839907   96.980874  105.992384  102.937721  4.634124
x12  101.638214  100.447007  100.247004  100.777408  4.612914
x13  104.513791   94.948339   83.660558   94.374229  4.547268
x14  106.650965   99.158169  111.174196  105.661110  4.660237
x15  121.979552   93.932556  107.022035  107.644714  4.678836
x16  112.989619   73.286762  109.495206   98.590529  4.590975
x17   99.854187  113.143704   97.220233  103.406041  4.638663
x18   90.981557   84.598275  100.820781   92.133538  4.523239
x19   97.061490  132.311189  100.966714  110.113131  4.701508
x20   99.213453   99.328753  104.543280  101.028496  4.615403